# Secret key for authentication
AUTH_SECRET = ""

# Trust host for authentication
AUTH_TRUST_HOST = "true"

# PostgreSQL connection URL
POSTGRES_URL=postgresql://user:password@postgres:5432/dbname

# For demo purposes only
NEXT_PUBLIC_IS_DEMO=false